@{
    ViewData["Title"] = "ABout US";
}

<body>
    <div id="page-container" style="margin-top:50px; position: relative;min-height: 84vh;">
        <div class="container">
            <div id="content-wrap" style="padding-bottom:50px;">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="mt-4 mb-3">About Us</h1>
                        <p>
                            <!-- Your static content goes here -->
                            We are a passionate team dedicated to the cause of blood donation and saving lives. Our mission is to connect donors and recipients, making the process of blood donation as smooth as possible. Join us in our endeavor to make the world a better place by donating blood and helping those in need.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid rounded" src="~/Images/banner_590x300.jpg" style="height:400px" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
