@model BloodDonor

@{
    ViewData["Title"] = "Become Donor";
}
<body>
    <div id="page-container" style="margin-top: 50px; position: relative; min-height: 84vh;">
        <div class="container">
            <div id="content-wrap" style="padding-bottom: 50px;">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="mt-4 mb-3">Donate Blood</h1>
                    </div>
                </div>
                <form method="post" asp-action="BecomeDonor" asp-controller="Home">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="font-italic">Full Name<span style="color:red">*</span></div>
                            <div><input asp-for="BdName" type="text"  class="form-control" required>
                                <span asp-validation-for="BdName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="font-italic">Mobile Number<span style="color:red">*</span></div>
                            <div><input asp-for="Phone" type="text"  class="form-control" required>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="font-italic">Email Id</div>
                            <div><input asp-for="Email" type="email"  class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="font-italic">Age<span style="color:red">*</span></div>
                            <div><input asp-for="BdAge" type="text"  class="form-control" required>
                                <span asp-validation-for="BdAge" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="font-italic">Gender<span style="color:red">*</span></div>
                            <div>
                                <select asp-for="BdSex"  class="form-control" required>
                                    <option value="">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="font-italic">Blood Group<span style="color:red">*</span></div>
                            <div>
                                <select asp-for="BdGroup" class="form-control" required>
                                    <option value="" selected disabled>Select</option>
                                    <!-- Add options here -->
                                    <option value="O-">O-</option>
                                    <option value="O+">O+</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B-">B-</option>
                                    <option value="B+">B+</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="font-italic">Address<span style="color:red">*</span></div>
                            <div><input asp-for="CityName" type="text" class="form-control"  required></input></div>
                        </div>
                            <div class="col-lg-4 mb-4">
                                <div class="font-italic">Date<span style="color:red">*</span></div>
                                <div><input asp-for="BdregDate" type="date" class="form-control"  required></input>
                                <span asp-validation-for="BdregDate" class="text-danger"></span>
                            </div>
                            </div>
                    
                    <div class="col-lg-4 mb-4">
                        <div class="font-italic">Nurse-Name<span style="color:red">*</span></div>
                            <div>
                                <select asp-for="NurseId" class="form-control" required>
                                    <option value="" selected disabled>Select Nurse</option>
                                    @foreach (var nurse in ViewBag.Nurses)
                                    {
                                        <option value="@nurse.NurseId">@nurse.NurseName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div>
                                <input type="submit" asp-action="BecomeDonor" asp-controller="Home" class="btn btn-primary" value="Submit"
                                       style="cursor:pointer">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>