@{
    ViewData["Title"] = "Why Need Blood";
}

<body>

    <div id="page-container" style="margin-top: 50px; position: relative; min-height: 84vh;">
        <div class="container">
            <div id="content-wrap" style="padding-bottom: 50px;">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="mt-4 mb-3">Why Should I Donate Blood?</h1>
                        <p>
                            <!-- Your static content goes here -->
                            Blood donation is a noble act that can save lives. Donating blood can help those in need, especially in emergencies, surgeries, and medical treatments. Your contribution can make a significant difference and can bring hope to those who are suffering. Additionally, blood donation has health benefits for the donor, such as stimulating the production of new blood cells.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid rounded" src="~/Images/08f2fccc45d2564f74ead4a6d5086871.png" style="height: 600px; width: 500px" alt="Image">
                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

